/* Global styles - Tawsila */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&family=DM+Sans:wght@300;400;500&display=swap');

*, *::before, *::after { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

html, body {
  height: 100%;
  font-family: 'DM Sans', sans-serif;
  background: #F5F6F8;
  color: #1C2833;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}